.site-footer {
  background-color: #0f0f1a;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #8d8aa3;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #8d8aa3;
}
.site-footer a:hover {
  color: #ff8a5b;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #8d8aa3;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #ff8a5b;
  text-decoration: none;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^='col-'] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text {
    text-align: center;
  }
}
